@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #737373;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply leading-[150%] text-[2rem] font-bold;
}

p {
  @apply leading-[150%] text-base font-normal;
}

label {
  @apply leading-[150%] text-xs font-normal;
}

input {
  @apply border-none bg-transparent focus:outline-none;
}

input,
input[type="text"] {
  @apply leading-[150%] text-[16px] border text-darkGrey py-[0.75rem] px-1;
}

input ::placeholder {
  @apply text-darkGrey;
}

button,
.button {
  @apply bg-white outline-1 outline-purple border-purple border rounded-lg text-purple leading-[150%] text-[16px] font-bold py-[11px] px-[87px];
}

button.primary {
  @apply bg-purple border-purple text-white;
}

button:active {
  @apply bg-lightPurple;
}

button:active.primary {
  @apply bg-purpleHover;
}

button:disabled {
  @apply cursor-not-allowed opacity-25;
}
